.navbar-default {
	background-color:#007F64;
	border-color:#FFF;
}

.navbar-default .navbar-brand {
	color: #FFF;
	 font-weight: bold;
}

.navbar-default .navbar-nav>li>a { color: #FFF;}

.navbar-default .navbar-toggle .icon-bar { background-color: #FFF; }
i.feature {	font-size:100px;}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #007F64;
  background-color: #FFF;
}

.btn-blue {
	background-color:#FFF;
	border-color:#00CC9F;
	color:#00CC9F;
}

.btn-orange {
	background-color:#FFF;
	border-color:#00FFC7;
	color:00FFC7;
}

.form-control {
	border: 1px solid #FF5919;
}

.footer .btn-default {
  color: #007F64;
  background-color: #FFF;
  border-color: #007F64;
}

#features {padding: 100px 0px;}


#hero {background-color:#007F64;color:#FFF;padding:100px 0px 80px 0px;}
#hero h2 {font-size:5em;margin-bottom:.25em;}
#hero p#subtitle {font-size:2.5em;margin-bottom:.5em;font-style:italic;}

#hero p#hard-sell {margin-top:50px;font-size:1.75em;}

#technology {
	padding: 50px 0px 50px 0;
	background-color:#007F64;
	color:#FFF;
}

#technology h2 {
	font-size: 3.5em;
  	line-height: 1.5em;
}

#technology #subtitle {margin-bottom:24px;}

#technology img {
	background-color:#FFF;

}

#technology .features {margin-top:24px;}

#action {
	padding:75px 0px;
	background-color:#007F64;
}

#action h2 {text-align:right;color:#FFF;}

#action .input-group {margin-top:19px;}

#action .btn-default {border:1px solid #007F64;color:#007F64;}

#faq {padding: 50px 0px 50px 0px;}
#faq h2 {text-align:right;}

#faq .panel-default>.panel-heading {
  color: #007F64;
  background-color: #FFF;
  border-color: #007F64;
}

#faq .panel-default {
  border-color: #007F64;
}


.footer {
	background-color:#007F64;
	color:#FFF;
	padding:30px 0px;
}

.footer small {color:#FFF;}

.footer a {color:#007F64;}

.footer .copyright {padding:25px 0 0 0px;}
